.writing {
	text-align:center;
}

.heading {
	margin: .25em;
	padding: .25em;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/*pub links*/
.pub-link:link{
	color: black;
  text-decoration: none;
}

.pub-link:visited {
	color: rebeccapurple;
}

/*for medium-sized screens and bigger, on hover*/
@media (min-width: 35em) {
	.pub-link:hover {
		opacity: 0.3;
	}
}