body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background: white;
    color: black;
}

body {
    font-family: "Times", serif;
    font-weight: normal;
}

nav ul {
    list-style: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 180px;
}

main h2 {
    padding: 10px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    padding: 50px 0;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    padding: 10px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0;
    margin: 0;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: normal;
    padding: 5px 10px;
    white-space: nowrap;
}

nav a.active {
    font-weight: bold;
}

img {
    max-width: 80%;
    height: auto;
}

main ul {
    padding: 0 5em;
}
main ul li {
    padding: 5px;
    text-align: left;
}

.nav-container {
    max-width: 80%; /* Adjust to control border width */
    margin: 0 auto; /* Centers it */
    border-bottom: 3px double black;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column; /* Stacks links vertically */
        align-items: center; /* Keeps items centered */
        gap: 10px;  /* Reduces gap for better spacing */
    }
    
    /* Increase spacing between nav and content when stacked */
    main {
        padding-top: 200px;
    }
}